<div class="text-center my-3 text-white font-weight-bold">
  <h2>POS Dashboard</h2>
</div>
<div class="container mt-6">
  <div class="row">
    <div class="col-md-6">
      <div class="chart-title my-3 text-white">Restaurant POS Overview (Pie Chart)</div>
      <div class="chart-container">
        <canvas id="pieChart" width="400" height="400"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="chart-title my-3 text-white">
        Restaurant Revenue and Expenses (Line Chart)
      </div>
      <div class="chart-container">
        <canvas id="lineChart" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="chart-title my-3 text-white">
        Restaurant Menu Composition (Polar Area Chart)
      </div>
      <div class="chart-container">
        <canvas id="polarAreaChart" width="400" height="400"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="chart-title my-3 text-white">Weekly Sales and Expenses (Radar Chart)</div>
      <div class="chart-container">
        <canvas id="radarChart" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-md-6">
        <div class="chart-title my-3 text-white">Restaurant POS Overview (Doughnut Chart)</div>
        <div class="chart-container">
          <canvas id="doughnutChart" width="400" height="400"></canvas>
        </div>
      </div>
      <div class="col-md-6">
    <div class="chart-title my-3 text-white">Customer Ratings (Horizontal Bar Chart)</div>
    <div class="chart-container">
      <canvas id="feedbackChart" width="400" height="400"></canvas>
    </div>
  </div>
    </div>
  </div>
</div>
